/* Regole in comune */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 300px;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
}

.item.active{
    display: block;
}

/* Slide di sinistra */
#slide-principale{
    width: 80%;
   
}

.item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}


/* Slide di destra */
#slide-scorrevoli{
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.item-scorrevoli{
    object-fit: cover;
    height: calc(100% / 5);
}

/* Parte con le frecce per il cambio di slide */
.fas{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    left: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.fa-chevron-up {
    top: 0%;
    
}
.fa-chevron-down {
    bottom: 0%;
    
}