/* Regole in comune */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 300px;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
}

.item.active{
    display: block;
}


/* Slide di sinistra */
.slide-principale{
    width: 80%;
   position: relative;
}
.item{
    width: 100%;
    height: 100%;
    display: none;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.text{
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: end;
    color: #fff;
}


/* Slide di destra */
.slide-scorrevoli{
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.item-scorrevoli{
    height: calc(100% / 5);
}
.item-scorrevoli img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Parte con le frecce per il cambio di slide */
.fas{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    left: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    z-index: 99999;
}
#prev,  #next{
    z-index: 99999;
}
.fa-chevron-up {
    top: 0%;
    
}
.fa-chevron-down {
    bottom: 0%;
    
}